<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8" >
    <title>Login</title>
  <link rel="stylesheet" href="/webjars/bootstrap/5.2.3/css/bootstrap.min.css">
  <link rel="stylesheet" href="/webjars/bootstrap-icons/1.10.4/font/bootstrap-icons.css">
  <script src="/webjars/bootstrap/5.2.3/js/bootstrap.bundle.js"></script>
</head>
<body>
<div class="container">
   <div class="card mt-3">
     <div class="card-header text-center"> Login</div>
       <div class="card-body">
           <form method="post" th:action="@{/login}">
               <div class="row">
                   <div class="col-6 offset-3">

                       <label for="username" class="form-label">userName:</label>
                       <input type="text" class="form-control" name="username"
                              id="username"
                       >
                   </div>
               </div>

               <div class="row">
                   <div class="col-6 offset-3">

                       <label for="password" class="form-label">password</label>
                       <input type="password" class="form-control" name="password"
                              id="password"
                       >
                   </div>
               </div>
               <div class="row">
                   <div class="col-6 offset-3 ">
                   <div class="form-check mb-3">
                       <label class="form-check-label">
                           <input class="form-check-input"
                                  type="checkbox" name="remember-me"> Remember me
                       </label>

                   </div>
                   </div>
               </div>
               <div class="row mt-3">
                   <div class="col-6 offset-3 ">
                   <button class="btn btn-outline-success" type="submit">log in</button>
                   </div>
               </div>
           </form>
       </div>
   </div>
</div>
</body>
</html>