<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="template.html"
>
<head>
    <meta charset="UTF-8">
    <title>patients</title>
</head>
<body>
<div layout:fragment="content">

<div class="container">
    <div class="card mt-5">
        <div class="card-header"> List of patients</div>
        <div class="card-body">
            <form method="get" th:action="@{index}">
                <div class="row">
                    <div class="col-6">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="keyword" name="keyword" th:value="${searchKey}">

                            <button type="submit" class="btn btn-info"><i class="bi bi-search"></i></button>
                        </div>
                    </div>
                    <div class="col-6">

                    </div>
                </div>

            </form>
            <table class="table">
                <thead>
                <tr>
                    <th>ID</th> <th>Name</th><th>Date</th><th>Sick</th><th>Score</th><th>actions</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="p:${patients}">
                    <td th:text="${p.id}"></td>
                    <td th:text="${p.name}"></td>
                    <td th:text="${p.birthdate}"></td>
                    <td th:text="${p.sick}"></td>
                    <td th:text="${p.score}"></td>
                    <td >
                        <a onclick="return confirm('are your sure ?!')"
                           th:href="@{delete(id=${p.getId()}, keyword=${searchKey}, page=${currentPage})}"
                           class="btn btn-outline-danger" ><i class="bi bi-trash"></i></a>
                    </td>
                </tr>
                </tbody>
            </table>
            <ul class="nav nav-pills">
                <li th:each="page,status:${pages}">
                    <a
                            th:class="${currentPage==status.index?'btn btn-info ms-2':'btn btn-outline-info ms-2'}"
                            th:href="@{/index(page=${status.index}, keyword=${searchKey})}" th:text="${status.index}"></a>
                </li>
            </ul>
        </div>
    </div>

</div>

</div>
</body>
</html>